.field {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

.fieldButton {
    width: 150px;
    height: 150px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    border: 1px solid black;
    font-size: 100px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.fieldButton.x {
    color: red;
}

.fieldButton.o {
    color: blue;
}
.disabled {
    cursor: default;
    pointer-events: none;
}